<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Imagen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Detalles de la Imagen</h1>
        </div>
    </header>
    <div class="container">
        <h2>Imagen Subida</h2>
        <img src="{{ url_for('static', filename='uploads/' ~ filename) }}" alt="Imagen Subida">
        <h2>Imagen Procesada</h2>
        <img src="{{ url_for('static', filename='uploads/processed_image.png') }}" alt="Imagen Procesada">
    </div>
    <footer>
        <p>&copy; 2024 Proyecto PDI</p>
    </footer>
</body>
</html>
