<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparación de Histogramas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>
<body>
    {% include 'navbar.html' %}
    <main>
        <div class="container">
            <h2>Generar y Comparar Histogramas</h2>
            <form action="{{ url_for('image_controller.show_histogram') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*">
                <button type="submit" class="btn">Subir Imagen y Generar Histogramas</button>
            </form>
            {% if histogram_path %}
            <h2>Comparación de Histogramas</h2>
            <div class="image-container">
                <img src="{{ url_for('static', filename='uploads/' ~ histogram_path) }}" alt="Comparación de Histogramas" class="image-display">
            </div>
            <h2>Imagen Original</h2>
            <div class="image-container">
                <img src="{{ url_for('static', filename='uploads/' ~ filename) }}" alt="Imagen Original" class="image-display">
            </div>
            <h2>Imagen Ecualizada</h2>
            <div class="image-container">
                <img src="{{ url_for('static', filename='uploads/' ~ eq_image_path) }}" alt="Imagen Ecualizada" class="image-display">
            </div>
            {% endif %}
        </div>
    </main>
    <footer>
        <p>Pablo Toledo & Sergio Escalante</p>
    </footer>
</body>
</html>
