<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto PDI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Bienvenido</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('image_controller.upload_file') }}">Subir Imagen</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <p>¡Estamos trabajando en el diseño!</p>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>Pablo Toledo & Sergio Escalante</p>
        </div>
    </footer>
</body>
</html>
