<!DOCTYPE html>
<html lang="es">
<head>
    <style>
        header h1 {
            font-size: 1.5em;
        }
        nav.menu ul {
            max-height: 80vh;
            overflow-y: auto;
            padding-right: 10px; 
        }
        nav.menu ul li a {
            font-size: 0.9em; 
            white-space: nowrap; 
        }
        .menu-icon span {
            display: block;
            width: 30px;
            height: 3px;
            background-color: #fff;
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <header>
        <h1>Proyecto PDI</h1>
        <input type="checkbox" id="menu-toggle">
        <label class="menu-icon" for="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <nav class="menu">
            <ul>
                <li><a href="{{ url_for('image_controller.index') }}">Inicio</a></li>
                <li><a href="{{ url_for('image_controller.upload') }}">Subir Imagen</a></li>
                <li><a href="{{ url_for('image_controller.read_image_view') }}">Leer Imagen</a></li>
                <li><a href="{{ url_for('image_controller.show_histogram') }}">Histograma</a></li>
                <li><a href="{{ url_for('image_controller.segment_color_view') }}">Segmentar Color</a></li>
                <li><a href="{{ url_for('image_controller.convert_bw_view') }}">Convertir a B/N</a></li>
                <li><a href="{{ url_for('image_controller.convolve_view') }}">Convolución</a></li>
                <li><a href="{{ url_for('image_controller.adjust_brightness_view') }}">Modificar Brillo</a></li>
                <li><a href="{{ url_for('image_controller.adjust_contrast_view') }}">Modificar Contraste</a></li>
                <li><a href="{{ url_for('image_controller.filters_view') }}">Filtros</a></li>
                <li><a href="{{ url_for('image_controller.transform_geometry_view') }}">Transformación Geométrica</a></li>
                <li><a href="{{ url_for('image_controller.negative_image_view') }}">Imagen Negativa</a></li>
                <li><a href="{{ url_for('image_controller.scale_image_view') }}">Escalar Imagen</a></li>
                <li><a href="{{ url_for('image_controller.quantize_image_view') }}">Cuantizar Imagen</a></li>
                <li><a href="{{ url_for('image_controller.segment_k_clusters_view') }}">Segmentación K-Means</a></li>
                <li><a href="{{ url_for('image_controller.masks_view') }}">Máscaras</a></li>
                <li><a href="{{ url_for('image_controller.apply_kernel') }}">Kernel</a></li>
                <li><a href="{{ url_for('image_controller.edge_detection_view') }}">Detección de Bordes</a></li>
                <li><a href="{{ url_for('image_controller.detect_objects_view') }}">Detección de Objetos</a></li>
                <li><a href="{{ url_for('image_controller.apply_fourier') }}">Fourier</a></li>
                <li><a href="{{ url_for('image_controller.apply_morphology_view') }}">Morfología</a></li>
                <li><a href="{{ url_for('image_controller.image_operations_view') }}">Operaciones de Imágenes</a></li>
            </ul>
        </nav>
    </header>
    <footer>
        <p>Pablo Toledo & Sergio Escalante</p>
    </footer>
</body>
</html>
