<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagen Negativa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <main>
        <div class="container">
            <h1>Convertir Imagen a Negativa</h1>
            <form action="{{ url_for('image_controller.negative_image_view') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*" required>
                <button type="submit" class="btn">Aplicar Negativo</button>
            </form>
            {% if negative_image %}
                <div class="image-section">
                    <h2>Imagen Negativa</h2>
                    <img src="{{ url_for('static', filename='uploads/' ~ negative_image) }}" alt="Imagen Negativa" class="image-display">
                </div>
            {% endif %}
        </div>
    </main>
    <footer>
        <p>Pablo Toledo & Sergio Escalante</p>
    </footer>
</body>
</html>
