<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Imagen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Subir una Imagen</h1>
        </div>
    </header>
    <main>
        <div class="container">
            <form action="{{ url_for('image_controller.upload_file') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*">
                <input type="submit" value="Subir" class="btn">
            </form>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>Pablo Toledo & Sergio Escalante</p>
        </div>
    </footer>
</body>
</html>
